# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [36]:
from libs.exchange import Rate

ModuleNotFoundError: No module named 'libs.exchange'

In [37]:
Rate().usd()

68.9831

In [38]:
Rate('full').AZN()

AttributeError: 'Rate' object has no attribute 'AZN'

### Упражнение
Дана строка со значениями, которые разделены запятыми:

In [4]:
line = '2019-07-01,organic,4293'

**Задача**

Напишите функцию column_count, которая возвращает число столбцов в такой строке

**Подсказка**

Можно перевести эту строку в список с помощью метода split: line.split(','). И затем посчитать количество элементов в нем (функция len)

In [8]:
line = '2019-07-01,organic,4293'

In [10]:
len(line.split(','))

3

In [5]:
def column_count(line):
    return len(line.split(','))

In [6]:
column_count(line)

3

In [16]:
def column_count(line, count_zero_lines=True):
    if line and count_zero_lines:
        list_line = line.split(',')
        return len(list_line)
    else:
        return 0
column_count(line)

3

In [17]:
column_count('')

0

# Классы
Пример использования переменной в разных методах

In [18]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [19]:
a = AnyName()

In [20]:
a.method_1()

In [24]:
a.currency = '123'

In [25]:
a.method_2()

123

### Метод __init__

In [26]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [27]:
r = Rate()

value

In [28]:
r.format

'value'

### Класс для курсов валют

In [30]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [31]:
r = Rate()

In [34]:
r.format = 'Full'

In [35]:
r.show_current_format()

'Full'

Пример инициализации со значением переменной

In [36]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [39]:
r = Rate(format_='123')

In [40]:
r.show_current_format()

'123'

Или сразу со значением по умолчанию

In [41]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [42]:
r = Rate()
r.show_current_format()

'value'

In [43]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [44]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [45]:
class Employee:
    def __init__(self, name='', salary=0):
        try:
            self.name = name
            self.salary = float(salary)
        except:
            print('Некорректные данные')
    
    def up(self):
        self.salary += 100
        
    def print(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [46]:
ivan = Employee(name='Ivan', salary=0)

In [47]:
ivan.up()
ivan.print()

Сотрудник Ivan, зарплата 100.0

In [56]:
class Employee:
    def __init__(self, name_ = 'Ivan', salary_ = 500):
        self.name = name_
        self.salary = salary_
    def method_up(self):
        self.salary += 100
        print(f'Новая зарплата  {self.name} -  {self.salary}' )
    def method_print(self):
        print(f'Сотрудник {self.name} , зарплата {self.salary}')

In [57]:
ivan = Employee()

In [63]:
ivan.method_up()
ivan.method_print()

Новая зарплата  Ivan -  1100
Сотрудник Ivan , зарплата 1100

In [64]:
elena = Employee(name_ = 'Elena', salary_ = 650)

In [ ]:
class GameObject():
    def move()
    
    def attack()
    
    def level_up()

In [ ]:
class Human

In [ ]:
class Elf

In [ ]:
class Ork

### Полная версия класса

In [29]:
import requests

In [212]:
?init

Object `init` not found.

In [94]:
class Rate:
    """
    
    """
    def __init__(self, format_='full'):
        self.format = format_
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [95]:
r = Rate(format_='value')

In [96]:
r.eur()

76.7782

In [97]:
r = Rate()

In [156]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 47.1086,
  'Previous': 46.9367},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 40.662,
  'Previous': 41.0913},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 86.4289,
  'Previous': 86.4561},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 14.2586,
  'Previous': 14.4062},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 28.7466,
  'Previous': 29.0198},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 39.3762,
  'Previous': 39.6809},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 12.8532,
  'Previous': 13.0636},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.2907,
  'Previous': 22.505},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 89.0024,
  'Previous': 89.9305},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.3311,
  'Previous': 10.4137},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 68.9831,
  'Previous': 69.7114},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 76.7782,
  'Previous': 77.6376},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 91.535,
  'Previous': 92.288},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.147,
  'Previous': 17.0579},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 51.0532,
  'Previous': 50.8397},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 93.8294,
  'Previous': 94.4663},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 97.0117,
  'Previous': 97.7322},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 39.5319,
  'Previous': 39.8921},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 72.189,
  'Previous': 72.1262},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.5151,
  'Previous': 17.5405},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 15.8977,
  'Previous': 15.9753},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 94.5931,
  'Previous': 95.6454},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 49.1753,
  'Previous': 49.5145},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 67.1532,
  'Previous': 68.0277},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.1283,
  'Previous': 10.2281},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 19.7377,
  'Previous': 19.946},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 67.975,
  'Previous': 68.7557},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 25.7376,
  'Previous': 25.9886},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 28.9031,
  'Previous': 28.8732},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 73.7456,
  'Previous': 74.2234},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 72.0074,
  'Previous': 72.6766},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 39.8438,
  'Previous': 39.8695},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 56.4136,
  'Previous': 56.7493},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 64.0304,
  'Previous': 64.881}}

Документация необходима почти всем методам

In [93]:
?r.exchange_rates

# Система повышения сотрудников

### Упражнение
Создайте класс Employee. При инициализации указываются имя сотрудника (name) и трудовой стаж в пройденных аккредитациях (seniority). Напишите метод init, в котором задаются соответствующие переменные - self.name и self.seniority.

### Упражнение
Заведите переменную self.grade при инициализации класса со значением 0. Добавьте метод grade_up, который увеличивает это значение на 1. На всякий случай - этот метод может ничего не возвращать, только изменять переменную.

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [43]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [44]:
cc = CurrencyCodes()

In [45]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 68.9831,
 'Previous': 69.7114}

Допишем в класс что-нибудь свое новенькое

In [86]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='value')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [87]:
currency = CurrencyCodes()

In [88]:
currency.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 47.1086,
  'Previous': 46.9367},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 40.662,
  'Previous': 41.0913},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 86.4289,
  'Previous': 86.4561},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 14.2586,
  'Previous': 14.4062},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 28.7466,
  'Previous': 29.0198},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 39.3762,
  'Previous': 39.6809},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 12.8532,
  'Previous': 13.0636},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.2907,
  'Previous': 22.505},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 89.0024,
  'Previous': 89.9305},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 10.3311,
  'Previous': 10.4137},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 68.9831,
  'Previous': 69.7114},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 76.7782,
  'Previous': 77.6376},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 91.535,
  'Previous': 92.288},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.147,
  'Previous': 17.0579},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 51.0532,
  'Previous': 50.8397},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 93.8294,
  'Previous': 94.4663},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 97.0117,
  'Previous': 97.7322},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 39.5319,
  'Previous': 39.8921},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 72.189,
  'Previous': 72.1262},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 17.5151,
  'Previous': 17.5405},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 15.8977,
  'Previous': 15.9753},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 94.5931,
  'Previous': 95.6454},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 49.1753,
  'Previous': 49.5145},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 67.1532,
  'Previous': 68.0277},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.1283,
  'Previous': 10.2281},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 19.7377,
  'Previous': 19.946},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 67.975,
  'Previous': 68.7557},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 25.7376,
  'Previous': 25.9886},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 28.9031,
  'Previous': 28.8732},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 73.7456,
  'Previous': 74.2234},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 72.0074,
  'Previous': 72.6766},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 39.8438,
  'Previous': 39.8695},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 56.4136,
  'Previous': 56.7493},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 64.0304,
  'Previous': 64.881}}

In [81]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [13]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [14]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [15]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [17]:
alex.grade, alex.name

(1, 'Александр')

In [91]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [242]:
class Designer(Employee):
    def __init__(self, name, seniority, awards):
        Employee.__init__(self, name, seniority)
        self.awards = awards
        
    def check_if_it_is_time_for_upgrade(self, name, seniority, awards):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
#         self.awards = awards
        if self.awards > 0:
            self.seniority + self.awards
        # условие повышения сотрудника из презентации
        if self.seniority % 7 == 0:
            self.grade_up()
#     def check_if_it_is_any_rewards(self):
        # на каждую международную премию добавляем грейд
#         # количество премий устанавливается один раз
#         self.awards = awards
#         if self.awards > 0:
#             self.grade_up() +awards
        # публикация результатов
        return self.publish_grade()

In [243]:
elena = Designer('Елена', seniority=0, awards=2)

In [ ]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

In [205]:
# Задание 1
# Напишите функцию, которая возвращает название валюты (поле ‘Name’)
# с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

# r = Rate(format_='value'

class CurrencyMax(Rate):
    def __init__(self):
        super().__init__(format_='value')
    
    def currency_max(self):
        response = self.exchange_rates()
        inverse = [( value['Value'], currency) for currency, value in response.items()]
#         print (inverse)
        return print (max(inverse)[1])
#

In [206]:
CurrencyMax().currency_max()

CNY

In [255]:
# Задание 2
# Добавьте в класс Rate параметр diff (со значениями True или False), который в случае значения True в методах
# eur и usd будет возвращать не курс валюты,
# а изменение по сравнению в прошлым значением. Считайте, self.diff будет принимать значение 
# True только при возврате значения курса. 
# При отображении всей информации о валюте он не используется.

class CurrencyDiff(Rate):
                
    def __init__(self, format_='value', diff_ ='true'):
        Rate.__init__(self, format_)
        self.diff = diff_
           
    
    def currency_diff(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return none
            
            if self.format == 'value':
                if self.diff =='true':
                    return   response[currency]['Value'] - response[currency]['Previous']
                else:
                    return   response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.currency_diff('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.currency_diff('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.currency_diff('BRL')
        return self.publish_grade()

In [256]:
CurrencyDiff().usd()

-0.6417999999999893